body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgb(29, 136, 207), rgb(80, 200, 120));

}
button{
    background-color: whitesmoke;
    border: none;
    box-shadow: 1px 1px 1px black;
    cursor: pointer; 
    text-align: center;
}
button:hover{
    background-color: aqua;
}