* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    background-color: black;
    color: white;
   
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

li {
    list-style: none;
    padding: 10px;
    border-radius: 15px;
}

.title {
    padding: 15px;
    text-align: center;
    font-family: 'Finlandica', sans-serif;
}

.menu {
    padding: 15px;
    background-color: #012030;
    color: white;
    font-size: 18px;
}

.menu li a:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 1s;
    border: 1px solid white;
    border-radius: 15px;
}

.history {
    border: none;
}

h1 {
    padding: 10px;
    font-family: 'Finlandica', sans-serif;
    text-align: center;
    background-color: #012030;
}

h2 {
    padding: 15px;
    text-align: center;
}

h3 {
    text-align: center;
}

.box {
    font-size: 20px;
    padding: 15px;
    margin-top: 10px;
}

.img01 {
    height: 450px;
    width: 450px;
    padding: 15px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.img02 {
    height: 450px;
    width: 600px;
    padding: 15px;
    display: flex;
    border-radius: 25px;
}

.img021 {
    height: 450px;
    width: 600px;
    padding: 15px;
    display: flex;
    border-radius: 25px;
}

.lee {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img03 {
    height: 450px;
    width: 600px;
    padding: 15px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.info {
    text-align: center;
}

footer {
    padding: 20px;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
}

q {
    margin-top: auto;
    margin-bottom: auto;
}

.imgFooter {
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 20px;
}

a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}

.list li {
    border: 1px solid white;
}